<section class="container">
<table class="countryTable">
	<tr>
		<th>Name</th>
		<th>Country Code</th>
		<th>Capital</th>
		<th>Area in km<sup>2</sup></th>
		<th>Population</th>
		<th>Continent</th>
	</tr>
	<tr ng-repeat="country in countries" ng-click="countryPopulation=country.population; countryArea=country.areaInSqKm">
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.countryName }}</a></td>
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.countryCode }}</a></td>
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.capital }}</a></td>
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.areaInSqKm | number }}</a></td>
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.population | number }}</a></td>
		<td><a ng-href="./#/countries/{{country.countryCode}}">{{ country.continentName }}</a></td>
	</tr>
</table>
</section>
<a href="#/"><button class="ghost-button">Home</button></a>
